<p id="notice"><%= notice %></p>

<h1>Listing Complaints</h1>

<table>
  <thead>
    <tr>
      <th>Technician</th>
      <th>Summary</th>
      <th>Landmark</th>
      <th>Area</th>
      <th>City</th>
      <th>Time</th>
      <th>Pincode</th>
      <th>Date</th>
      <th>Language</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @complaints.each do |complaint| %>
      <tr>
        <td><%= complaint.technician %></td>
        <td><%= complaint.summary %></td>
        <td><%= complaint.landmark %></td>
        <td><%= complaint.area %></td>
        <td><%= complaint.city %></td>
        <td><%= complaint.time %></td>
        <td><%= complaint.pincode %></td>
        <td><%= complaint.date %></td>
        <td><%= complaint.language %></td>
        <td><%= link_to 'Show', complaint %></td>
        <td><%= link_to 'Edit', edit_complaint_path(complaint) %></td>
        <td><%= link_to 'Destroy', complaint, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Complaint', new_complaint_path %>
